<div class="content-header">
  <h1 class="content-title">Страница планирования</h1>
  <button class="content-refresh" (click)="refresh()"><i class="fa fa-refresh"></i></button>
</div>

<div class="content-body" [ngClass]="{ loading: !isLoaded }">
  <ng-template [ngIf]="isLoaded">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Расходы</h3>
        <div class="card-header-info">
            Общий остаток <span class="text-success">{{billValue | number:'1.2'}} Р</span>
        </div>        
      </div>
      <div class="card-content">
        <div class="row" *ngFor="let item of items">
          <div class="col-sm-6">
            <div class="progress">
              <div class="progress-bar progress-bar-{{item.getClass()}}" role="progressbar" [ngStyle]="{width: item.getPercent()+'%'}">
                <span>{{item.categoryName}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <span>{{item.outcome | number:'1.2'}}</span> из <span>{{item.categoryCapacity | number:'1.2'}}</span> | осталось <span>{{item.getRemain() | number:'1.2'}}</span> (руб.)
          </div>
        </div>
        
      </div>
    </div>
  </ng-template>
</div>


