@import '../../sass/vars';

.auth {
    background-color: #667380;
    height: 100%;
    display: flex;

    &-header {
        padding: 20px 30px;
        text-align: center;
        border-bottom: 2px solid $accentColor;
    }

    &-title {
        margin: 0;
        color: #97a4b1;
        font-size: 26px;
        font-weight: 600;

        .logo {
            margin-right: 5px;
        }
    }

    &-container {
        margin: auto;
        width: 450px;
    }

    &-content {
        padding: 30px 50px;
    }
}

@media (max-width: 767px) {
    .auth {
        display: block;

        &-container {
            width: 100%;
        }

        &-content {
            padding: 30px 25px;
        }
    }
}