@import '../../vars';

h1 {
    margin: 0;
    color: rgb(151, 163, 176);
}

.auth {
    background-color: rgb(102, 115, 128);
    height: 100%;
    display: flex;

    &-title {
        display: flex;
        align-items: center;

        .logo {
            margin-right: 10px;
        }
    }

    &-header {
        padding: 15px 30px;
        border-bottom: 2px solid $accentColor;
    }

    &-container {
        margin: auto;
    }

    &-content {
        padding: 30px 50px;
    }
}