<div class="content-header">
    <h1 class="content-title">Страница записей</h1>
    <button class="content-refresh" (click)="refresh()"><i class="fa fa-refresh"></i></button>
</div>

<div class="content-body">
    <hm-loader *ngIf="!isLoaded"></hm-loader>
    <div class="row" *ngIf="isLoaded">
        <div class="col-sm-6">
          <hm-add-event [categories]="categories"></hm-add-event>
        </div>
    
        <div class="col-sm-6">
          <hm-add-category (categoryAdded)="onCategoryAdded($event)"></hm-add-category>
          <hm-edit-category [categories]="categories" (categoryUpdated)="onCategoryUpdated($event)"></hm-edit-category>
        </div>
    </div> 
</div> 

