<div class="card">
  <div class="card-header">
    <h3 class="card-title">Редактировать категорию</h3>
  </div>
  <div class="card-content">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="form-group">
        <label for="">Выберите категорию</label>
        <select class="form-control" [(ngModel)]="currentCategoryId" [ngModelOptions]="{standalone: true}" (change)="changeCategory()">
          <option [value]="c.id" *ngFor="let c of categories">{{c.name}}</option>
        </select>
      </div>

      <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched, 'has-success': name.valid && name.touched}">
        <label for="">Введите название</label>
        <input type="text" class="form-control" [ngModel]="currentCategory.name" name="name" #name="ngModel" required>
        <span class="form-help-text" *ngIf="name.invalid && name.touched">Заполните это поле</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': capacity.invalid && capacity.touched, 'has-success': capacity.valid && capacity.touched}">
        <label for="">Введите лимит</label>
        <input type="number" class="form-control" [ngModel]="currentCategory.capacity" name="capacity" #capacity="ngModel" required min="0" pattern="^[0-9]*">
        <span class="form-help-text" *ngIf="capacity.invalid && capacity.touched">
          <ng-template [ngIf]="capacity.errors['required']">Заполните это поле</ng-template>
          <ng-template [ngIf]="capacity.errors['pattern']">Число не может быть меньше нуля</ng-template>
        </span>
      </div>                  

      <button class="btn" type="submit" [disabled]="form.invalid">Редактировать</button>
    </form>
  </div>
</div>