
<div class="main-wrapper">

  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <span class="l l1"></span>
        <span class="l l2"></span>
        <span class="l l3"></span>
        <span class="l l4"></span>
        <span class="l l5"></span>
      </div>
      <span>Бухгалтерия</span>
    </div>
  </aside>

  <header class="header">
    <div class="header-title">
      12:12:12
    </div>
  </header>

  <article class="content">
    <div class="content-header">
      <h1 class="content-title">Страница счета</h1>
      <button class="content-refresh"><i class="fa fa-refresh"></i></button>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <h4 class="card-title">Счет</h4>
          
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card">
          <h4 class="card-title">Курс</h4>
        </div>
      </div>
    </div>  
  </article>

</div>
