@import '../../sass/vars';

.main-wrapper {
    background-color: #f0f3f6;
    min-height: 100vh;
    position: relative;
    padding-left: 230px;
    transition: padding-left 0.5s;
}

.sidebar {
    background-color: #3a4651;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 230px;
    transition: left 0.5s;

    &-header {
        height: 70px;
        line-height: 70px;   
        color: #ffffff;
        font-size: 20px;
        padding: 0 20px;
        
        .logo {
            margin-right: 5px;
        }
    }

    &-menu {
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
            cursor: pointer;

            .fa {
                margin-right: 3px;
            }

            a {
                display: block;
                padding: 15px 20px;
                color: #aaa;
            }

            &.active {
                background-color: $accentColor;
                a {
                    color: #fff;
                }
            }

            &:hover:not(.active) {
                background-color: #2d363f;
                a {
                    color: #fff;
                }
            }
        }
    }
}

.header {
    padding: 0 50px;
    height: 70px;
    line-height: 70px;
    background-color: #d7dde4;
    display: flex;

    &-title {
        flex-grow: 1;
    }

    &-profile {
        position: relative;
    }
}

.content {
    padding: 50px 50px;

    &-header {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px inset #d7dde4;
        margin-bottom: 30px;
    }

    &-title {
        margin: 0;
        line-height: 1;
        flex-grow: 1;
        font-size: 28px;
    }

    &-refresh {
        padding: 5px 10px;
        text-align: center;
        border: 1px solid $accentColor;
        color: $accentColor;
        background: none;

        &:hover {
            color: #fff;
            background-color: $accentColor;
        }
    }
}

.form-group {
    label {
        font-weight: 600;
    }
}


@media (max-width: 991px) {
    .main-wrapper {
        padding-left: 0;
    }

    .sidebar {
        left: -230px;
    }
}